@use 'uikit/styles/mixins';

.stack {
  overflow: auto;

  @include mixins.breakpoint-greater-than(md) {
    display: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-3);

  @include mixins.breakpoint-less-than(md) {
    display: none;
  }
}