.message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: var(--color-surface-default);
  padding: var(--space-5);
  display: none;
  z-index: 850;

  @media (max-height: 500px) {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var(--size-xl);
    line-height: 1.5;
  }
}